.header{
    background: linear-gradient(180deg, #ffa600 47.4%, rgba(237, 164, 24, 0) 100%);
    height: 491px;
}


.left-slider{
    background-color: #caa44d;
    height: 350px;
    width: 100%;
    border-radius: 15px;
}

.right-slider{

    background-color: #4dca4d;
    height: 350px;
    width: 100%;
    border-radius: 15px;
}
